---
const year = new Date().getFullYear();
---
<footer>
  <div>
    <span class="zh-only">© {year} 81日本 · 由81Japan维护</span>
    <span class="en-only">© {year} 81Japan · 81Japan</span>
  </div>
  <a href="#">联系我们</a>
</footer>
